.App.Signin {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

.App.Signin .signin-page input[type="text"],
.App.Signin .signin-page input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.App.Signin .signin-page input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: rgb(5, 68, 104);
  border: 1px solid rgb(4, 54, 85);
  border-radius: 5px;
  color: #fff;
  padding: 8px 15px;
}

.App.Signin .signin-page input[type="submit"]:hover {
  background: rgb(21, 113, 166);
  border: 1px solid rgb(26, 96, 139);
}

.App.Signin .signin-page .button-container {
  display: flex;
  justify-content: center;
}

.App.Signin form.signin-page  {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App.Signin .signin-page .list-container {
  display: flex;
}

.App.Signin .signin-page .error {
  color: red;
  font-size: 12px;
}

.App.Signin .signin-page .title {
  font-size: 25px;
  margin-bottom: 20px;
}

.App.Signin .signin-page .input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}